global
    log stdout format raw local0

defaults
    log     global
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http-in
    bind *:80
    default_backend webservers

backend webservers
    balance roundrobin
    server web1 web-server-1:80 check
    server web2 web-server-2:80 check

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 5s
